page-home {
#home {
  background: color($colors, backtwo);
}
.listone {
   background: color($colors, backtwo);

}

.cardone {
  background: color($colors, btwo);
}

//   .scroll-content {
//     overflow: hidden;


// }
 .logo {
   height: 50px;
  //  margin-top: 1%;
  //  margin-left: 2%;
 }
.t1 {
  padding-top: 20px;
}



}
//   ion-navbar {

//   background: $app-background;
// }
